@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
}

body[data-theme='dark'] {
  --bg-color: hsl(207, 26%, 17%);
  --elems-color: hsl(209, 23%, 22%);
  --font-color: hsl(0, 0%, 100%);

  --shadow: 		0px 6px 10px 0px hsla(0,0%,0%,0.14), 
  0px 1px 18px 0px hsla(0,0%,0%,0.12), 
  0px 3px 5px -1px hsla(0,0%,0%,0.2);
}

body[data-theme='light'] {
  --bg-color: hsl(0, 0%, 98%);
  --elems-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
  --font-color: hsl(200, 15%, 8%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--font-color);
  font-weight: var(--fw-light);
  background-color: var(--bg-color);
}


